@import './fonts.css';

@import 'tailwindcss';

@source './**/*.{ts,tsx}';

@theme {
  --color-default: var(--color-neutral-600);
  --color-medium: var(--color-neutral-700);
  --color-dark: var(--color-neutral-800);

  --color-primary: #3490dc;
  --color-secondary: #dc34a1;
  --color-danger: var(--color-red-500);
  --color-muted: var(--color-gray-500);
  --color-disabled: var(--color-gray-400);
  --color-hover: var(--color-gray-100);
  --color-hover-light: var(--color-gray-100);
  --color-active: var(--color-gray-200);

  --font-poppins: 'Poppins', 'sans-serif';
}

html {
  font-family: var(--font-poppins);
  font-size: 12px;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 2px;
}
